body {
    margin: 0;
}
#header {
    width: 100%;
    height: 100px;
    background-color: rgba(207, 178, 178, 0.45);
    display: table;
}
.logo {
    background-image: url(../img/Haus_Master.png);
    width: 200px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: table-cell;
}
#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
#header ul li {
    display: inline-block;
    width: 14%;
    text-align: center;
    color: #30292b;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 60px;
}
#header ul li a {
    color: #30292b;
    text-decoration: none;
}
#banner {
    margin-top: 20px;
}
#banner h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 450px;
    margin: 0;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: rgba(40, 31, 31, 0.85);
}
.banner_img {
    width: 100%;
    height: 450px;
    background-color: rgba(214, 191, 191, 0.4);
    position: relative;
}
.first_img {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.order_call {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background-color: #ffffff;
    position: absolute;
    bottom: 50px;
    right: 200px;
    border: 1px solid #ffffff;
    color: #442121;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    box-shadow: 2px 4px 4px 6px #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}
.order_call:focus {
    outline: none;
}
.order_call:hover {
    width: 320px;
    right: 190px;
    height: 70px;
    bottom: 40px;
}
.slick-dots li button:before {
    color: #cfb2b2;
    font-size: 13px;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    font-size: 17px;
    color: #b09595;
    opacity: 1;
}
h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: rgba(40, 31, 31, 0.85);
    margin: 60px 0 30px 0;
}
.appartment {
    background-color: rgba(207, 178, 178, 0.2);
}
.office {
    background-color: rgba(214, 191, 191, 0.3);
}
.bathroom {
    background-color: rgba(214, 191, 191, 0.35);
}
.doors {
    background-color: rgba(214, 191, 191, 0.4);
}
.pipes {
    background-color: rgba(214, 191, 191, 0.43);
}
.machines {
    background-color: rgba(214, 191, 191, 0.48);
}
.feature {
    height: 350px;
    position: relative;
}
.feature h3 {
    height: 85px;
    color: rgba(48, 41, 43, 0.95);
    font-family: Raleway;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -1.75px;
    line-height: 35px;
    padding-top: 35px;
}
.feature p {
    max-height: 110px;
    color: #281f1f;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8px;
    line-height: 22px;
    text-transform: lowercase;
    color: #281f1f;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 30px;
}
.feature a.active {
    border-radius: 30px;
    border: 1px solid rgba(146, 124, 124, 0.76);
    background-color: rgba(207, 178, 178, 0.7);
    line-height: 48px;
}
.feature a:hover {
    border-radius: 30px;
    border: 1px solid rgba(146, 124, 124, 0.76);
    background-color: rgba(207, 178, 178, 0.7);
    line-height: 48px;
}
.feature a {
    color: #281f1f;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
    line-height: 48px;
    width: 160px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -80px;
    text-decoration: underline;
}
#more_wrapper {
    height: 500px;
    width: 100%;
    display: block;
    margin-top: 50px;
}
.objects_photo {
    width: 500px;
    height: 500px;
    margin-left: 20px;
}
.objects_explain {
    height: 500px;
    position: relative;
}
.objects_explain h3 {
    letter-spacing: -2px;
    line-height: 60px;
    color: #442121;
    font-family: "Raleway - Medium";
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}
.objects_explain p {
    height: auto;
    max-height: 300px;
    color: #281f1f;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -1.1px;
    line-height: 36px;
    text-transform: lowercase;
    padding: 50px 50px 0 0;
    text-align: justify;
    margin-top: 0;
}
.objects_explain button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    height: 60px;
    border-radius: 30px;
    background-color: #e4cdcd;
    color: rgba(68, 33, 33, 0.95);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1.3px;
    line-height: 30px;
    border: 1px solid #e4cdcd;
}
.objects_explain button:focus {
    outline: none;
}
.objects_explain span {
    color: #000000;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1.2px;
    line-height: 40px;
    text-transform: lowercase;
    display: inline-block;
    float: right;
    margin-right: 100px;
}
.explain_block {
    display: none;
}
.active {
    display: block;
}
.active_btn {
    border-radius: 30px;
    border: 1px solid rgba(146, 124, 124, 0.76);
    background-color: rgba(207, 178, 178, 0.7);
    line-height: 48px;
}
.price_block {
    height: 360px;
    width: 580px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.apparts_price {
    background-image: url(../img/2-layers\ \(3\).jpg);
}
.price_block h4 {
    color: rgba(40, 31, 31, 0.85);
    font-family: Raleway;
    font-size: 30px;
    font-weight: 700;
    line-height: 60px;
}
.price_block span {
    font-size: 50px;
}
.offices_price {
    background-image: url(../img/2-layers\ \(4\).jpg);
}
.baths_price {
    background-image: url(../img/2-layers\ \(5\).jpg);
}
.doors_price {
    background-image: url(../img/2-layers\ \(6\).jpg);
}
.pipes_price {
    background-image: url(../img/rabs.jpg);
}
.machines_price {
    background-image: url(../img/2-layers\ \(8\).jpg);
}
.advantages {
    width: 300px;
    height: 300px;
    border: 3px solid rgba(207, 178, 178, 0.35);
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.first_adv {
    margin-left: 30px;
    float: left;
}
.last_adv {
    float: right;
    margin-right: 30px;
}
.middle1_adv {
    margin-right: 15px;
}
.middle2_adv {
    margin-left: 15px;
}
.shirt_txt {
    width: 300px;
    height: 50px;
    color: #000000;
    font-family: Raleway;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -2.25px;
    line-height: 50px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
.advantages img {
    position: absolute;
    bottom: 0%;
    right: -7%;
}
.long_txt {
    display: none;
    width: 280px;
    max-height: 140px;
    height: auto;
    color: #000000;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -1.4px;
    line-height: 30px;
    text-transform: lowercase;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    margin: auto;

}

.fade-in {
    background: rgba(207, 178, 178, 0.35);
    transition:             background 1s;
        -moz-transition:    background 1s;
        -ms-transition:     background 1s;
        -o-transition:      background 1s;
        -webkit-transition: background 1s;
}
.fade-out {
    background: #ffffff;
    transition:             background 1s;
        -moz-transition:    background 1s;
        -ms-transition:     background 1s;
        -o-transition:      background 1s;
        -webkit-transition: background 1s;
}
#call_master {
    width: 100%;
    height: 300px;
    background-color: rgba(207, 178, 178, 0.35);
} 
#call_master input, select, button {
    width: 250px;
    height: 40px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}
.call_master_wrapper div {
    height: 200px;
}
.suitable_time {
    margin-top: 40px;
}
#datetime_wrapper {
    height: 100px;
}
input:focus, select:focus, button:focus {
    outline: none;
}
input::placeholder, select, input {
    padding-left: 20px;
    line-height: 38px;
    color: rgba(40, 31, 31, 0.6);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
}
input::placeholder {
    padding-left: 0;
}
select option {
    font-size: 16px;
}
button {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 36px;
}
.portfolio_img {
    height: 500px;
}
.photo {
    margin: -4px;
    padding: 0;
    display: inline-block;
}
.first_photo {
    width: 650px;
    height: 300px;
    background-image: url(../img/Rectangle_40.jpg);
    margin-left: 0;
}
.second_photo {
    width: 450px;
    height: 300px;
    background-image: url(../img/Rectangle_41.jpg);
}
.third_photo, .fourth_photo {
    width: 550px;
    height: 200px;    
}
.third_photo {
    background-image: url(../img/Rectangle_42.jpg);
    margin-left: 0;
}
.fourth_photo {
    background-image: url(../img/Rectangle_43.jpg);
}
.our_txt, .our_images {
    display: inline-block;
}
.our_txt {
    width: 38%;
    height: 450px;
}
.our_images {
    width: 60%;
    height: inherit;
}
.description {
    height: 300px;
}
.feedback {
    height: 250px;
}
.description h4 {
    color: #442121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -1.8px;
    line-height: 40px;
    /* text-transform: lowercase; */
    text-align: center;
}
.description p {
    color: #281f1f;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 36px;
    /* text-transform: lowercase; */
    text-align: justify;
}
.feedback h4 {
    color: #442121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -1.8px;
    line-height: 40px;
    /* text-transform: lowercase; */
    text-align: center;

}
.feedback p, h5 {
    color: #281f1f;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 36px;
    /* text-transform: lowercase; */
    margin: 0;
}
h5 {
    font-size: 24px;
    text-align: right;
}
.slick-prev {
    left: 50px;
}
.slick-next {
    right: 50px;
}
.slick-prev:before, .slick-next:before {
    font-size: 50px;
    color: rgba(207, 178, 178, 0.35);
}
.slick-prev:before {
    color: #ffffff;
}
.slick-arrow {
    z-index: 999999999999999999999;
}
/* .slick-prev, .slick-next {
    top: 100%;
    margin-top: 10px;
} */