@font-face {
    font-family: Raleway-Bold;
    src: url(../../libs/fonts/Raleway-Bold/Raleway-Bold.ttf);
    src: url(../../libs/fonts/Raleway-Bold/Raleway-Bold.eot);
    src: url(../../libs/fonts/Raleway-Bold/Raleway-Bold.eot?#iefix) format('embedded-opentype'),
        url(../../libs/fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold) format('svg'),
        url(../../libs/fonts/Raleway-Bold/Raleway-Bold.woff) format('woff'),
        url(../../libs/fonts/Raleway-Bold/Raleway-Bold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Raleway-Italic;
    src: url(../../libs/fonts/Raleway-Italic/Raleway-Italic.ttf);
    src: url(../../libs/fonts/Raleway-Italic/Raleway-Italic.eot);
    src: url(../../libs/fonts/Raleway-Italic/Raleway-Italic.eot?#iefix) format('embedded-opentype'),
        url(../../libs/fonts/Raleway-Italic/Raleway-Italic.svg#Raleway-Italic) format('svg'),
        url(../../libs/fonts/Raleway-Italic/Raleway-Italic.woff) format('woff'),
        url(../../libs/fonts/Raleway-Italic/Raleway-Italic.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Raleway-Medium;
    src: url(../../libs/fonts/Raleway-Medium/Raleway-Medium.ttf);
    src: url(../../libs/fonts/Raleway-Medium/Raleway-Medium.eot);
    src: url(../../libs/fonts/Raleway-Medium/Raleway-Medium.eot?#iefix) format('embedded-opentype'),
        url(../../libs/fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium) format('svg'),
        url(../../libs/fonts/Raleway-Medium/Raleway-Medium.woff) format('woff'),
        url(../../libs/fonts/Raleway-Medium/Raleway-Medium.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Raleway-MediumItalic;
    src: url(../../libs/fonts/Raleway-MediumItalic/Raleway-MediumItalic.ttf);
    src: url(../../libs/fonts/Raleway-MediumItalic/Raleway-MediumItalic.eot);
    src: url(../../libs/fonts/Raleway-MediumItalic/Raleway-MediumItalic.eot?#iefix) format('embedded-opentype'),
        url(../../libs/fonts/Raleway-MediumItalic/Raleway-MediumItalic.svg#Raleway-MediumItalic) format('svg'),
        url(../../libs/fonts/Raleway-MediumItalic/Raleway-MediumItalic.woff) format('woff'),
        url(../../libs/fonts/Raleway-MediumItalic/Raleway-MediumItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Raleway-Regular;
    src: url(../../libs/fonts/Raleway-Regular/Raleway-Regular.ttf);
    src: url(../../libs/fonts/Raleway-Regular/Raleway-Regular.eot);
    src: url(../../libs/fonts/Raleway-Regular/Raleway-Regular.eot?#iefix) format('embedded-opentype'),
        url(../../libs/fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular) format('svg'),
        url(../../libs/fonts/Raleway-Regular/Raleway-Regular.woff) format('woff'),
        url(../../libs/fonts/Raleway-Regular/Raleway-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Raleway-SemiBold;
    src: url(../../libs/fonts/Raleway-SemiBold/Raleway-SemiBold.ttf);
    src: url(../../libs/fonts/Raleway-SemiBold/Raleway-SemiBold.eot);
    src: url(../../libs/fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix) format('embedded-opentype'),
        url(../../libs/fonts/Raleway-SemiBold/Raleway-SemiBold.svg#Raleway-SemiBold) format('svg'),
        url(../../libs/fonts/Raleway-SemiBold/Raleway-SemiBold.woff) format('woff'),
        url(../../libs/fonts/Raleway-SemiBold/Raleway-SemiBold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Raleway-SemiBoldItalic;
    src: url(../../libs/fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.ttf);
    src: url(../../libs/fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot);
    src: url(../../libs/fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot?#iefix) format('embedded-opentype'),
        url(../../libs/fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic) format('svg'),
        url(../../libs/fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff) format('woff'),
        url(../../libs/fonts/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

  
body {
    margin: 0;
}
#header {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgba(207, 178, 178, 0.45);
    display: table;
}
#header button {
    display: none;
}
.burger, .call_me_mob {
    display: none;
    font-size: 50px;
    color: #442121;
}
.logo {
    background-image: url(../img/Haus_Master.png);
    width: 200px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: table-cell;
}
#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
#header ul li {
    display: inline-block;
    width: 16%;
    text-align: center;
    color: #30292b;
    font-family: Raleway-MediumItalic;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 60px;
}
.phone_number {
    font-family: sans-serif;
}
#header ul li a {
    color: #30292b;
    text-decoration: none;
}
#banner h1 {
    font-family: Raleway-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 70px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin: 0;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: rgba(40, 31, 31, 0.85);
    width: 100%;
}
.banner_img {
    width: 100%;
    height: 450px;
    background-color: rgba(66,54,54, 0.65);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.first_img {
    background-image: url(../img/banner.jpg);
    
}
.second_img {
    background-image: url(../img/second_img.jpg);
     
}
.third_img {
    background-image: url(../img/third_img.jpg);
     
}
.order_call {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background-color: #ffffff;
    position: absolute;
    bottom: 50px;
    right: 200px;
    border: 1px solid #ffffff;
    color: #442121;
    font-family: Raleway-Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    box-shadow: 2px 4px 4px 6px #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}
.order_call:focus {
    outline: none;
}
.order_call:hover {
    width: 320px;
    right: 190px;
    height: 70px;
    bottom: 45px;
    line-height: 70px;
}
.slick-dots li button:before {
    color: #cfb2b2;
    font-size: 13px;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    font-size: 17px;
    color: #b09595;
    opacity: 1;
}
h2 {
    font-family: Raleway-SemiBold;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: rgba(40, 31, 31, 0.85);
    margin: 60px 0 0 0;
    padding-top: 20px;
}
.appartment {
    background-color: rgba(207, 178, 178, 0.2);
}
.office {
    background-color: rgba(214, 191, 191, 0.3);
}
.bathroom {
    background-color: rgba(214, 191, 191, 0.35);
}
.doors {
    background-color: rgba(214, 191, 191, 0.4);
}
.pipes {
    background-color: rgba(214, 191, 191, 0.43);
}
.machines {
    background-color: rgba(214, 191, 191, 0.48);
}
.feature {
    height: 350px;
    position: relative;
}
.feature h3 {
    height: 85px;
    color: rgba(48, 41, 43, 0.95);
    font-family: Raleway-Medium;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -1.75px;
    line-height: 35px;
    padding-top: 35px;
}
.feature p {
    max-height: 110px;
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8px;
    line-height: 22px;
    text-transform: normal;
    color: #281f1f;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 25px;
}
.feature a.active {
    border-radius: 30px;
    border: 1px solid rgba(146, 124, 124, 0.76);
    background-color: rgba(207, 178, 178, 0.7);
    line-height: 48px;
}
.feature a:hover {
    border-radius: 30px;
    border: 1px solid rgba(146, 124, 124, 0.76);
    background-color: rgba(207, 178, 178, 0.7);
    line-height: 48px;
}
.feature a {
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
    line-height: 48px;
    width: 160px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: underline;
}
#more_wrapper {
    height: 500px;
    width: 100%;
    display: block;
    margin-top: 50px;
}
.objects_photo {
    width: 500px;
    height: 500px;
    margin-left: 20px;
}
.objects_explain {
    height: 500px;
    position: relative;
}
.objects_explain h3 {
    letter-spacing: -2px;
    line-height: 60px;
    color: #442121;
    font-family: Raleway-Medium;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}
.objects_explain p {
    height: auto;
    max-height: 300px;
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.1px;
    line-height: 36px;
    text-transform: normal;
    padding: 50px 50px 0 0;
    text-align: justify;
    margin-top: 0;
}
.objects_explain button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    height: 60px;
    border-radius: 30px;
    background-color: #e4cdcd;
    color: rgba(68, 33, 33, 0.95);
    font-family: Raleway-Medium;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1.3px;
    line-height: 30px;
    border: 1px solid #e4cdcd;
    cursor: pointer;
}
.objects_explain button:focus {
    outline: none;
}
.objects_explain span {
    color: #000000;
    font-family: Raleway-Medium;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1.2px;
    line-height: 40px;
    text-transform: normal;
    display: inline-block;
    float: right;
    margin-right: 100px;
    background-image: url(../img/long-arrow-alt-right-solid.svg);
    background-repeat: no-repeat;
    background-position: 100% 62%;
    background-size: 20px;
    width: 330px;
    padding-left: 20px;
    cursor: pointer;
}
.explain_block {
    display: none;
}
.active {
    display: block;
}
.active_btn {
    border-radius: 30px;
    border: 1px solid rgba(146, 124, 124, 0.76);
    background-color: rgba(207, 178, 178, 0.7);
    line-height: 48px;
}
.price_block {
    height: 360px;
    width: 580px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-position: 50%;
}
.apparts_price {
    background-image: url(../img/Rectangle\ 23.jpg);
}
.price_block h4 {
    color: rgba(40, 31, 31, 0.85);
    font-family: Raleway-Bold;
    font-size: 30px;
    line-height: 50px;
}
.price_block h4 span.price {
    font-variant-numeric: lining-nums;
}
.price_block span {
    font-size: 45px;
    line-height: 50px;
}
.offices_price {
    background-image: url(../img/Rectangle\ 21.jpg);
}
.baths_price {
    background-image: url(../img/Rectangle\ 24.jpg);
}
.doors_price {
    background-image: url(../img/Rectangle\ 25.jpg);
}
.pipes_price {
    background-image: url(../img/Rectangle\ 26.jpg);
}
.machines_price {
    background-image: url(../img/Rectangle\ 27.jpg);
}
.advantages {
    width: 300px;
    height: 300px;
    border: 3px solid rgba(207, 178, 178, 0.35);
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.first_adv {
    margin-left: 30px;
    float: left;
}
.last_adv {
    float: right;
    margin-right: 30px;
}
.middle1_adv {
    margin-right: 15px;
}
.middle2_adv {
    margin-left: 15px;
}
.shirt_txt {
    width: 300px;
    color: #000000;
    font-family: Raleway-Regular;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -2.25px;
    line-height: 50px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
.advantages img {
    position: absolute;
    bottom: 0%;
    right: -7%;
}
.long_txt {
    display: none;
    width: 280px;
    max-height: 140px;
    height: auto;
    color: #000000;
    font-family: Raleway-Regular;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -1.4px;
    line-height: 30px;
    text-transform: normal;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    margin: auto;

}

.fade-in {
    background: rgba(207, 178, 178, 0.35);
    transition:             background 1s;
        -moz-transition:    background 1s;
        -ms-transition:     background 1s;
        -o-transition:      background 1s;
        -webkit-transition: background 1s;
}
.fade-out {
    background: #ffffff;
    transition:             background 1s;
        -moz-transition:    background 1s;
        -ms-transition:     background 1s;
        -o-transition:      background 1s;
        -webkit-transition: background 1s;
}
#call_master {
    width: 100%;
    height: 300px;
    background-color: rgba(207, 178, 178, 0.35);
} 
#call_master input, #call_master select, #call_master button {
    width: 300px;
    height: 40px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}
.call_master_wrapper div {
    height: 150px;
}
.suitable_time {
    margin-top: 40px;
}
#datetime_wrapper {
    height: 100px;
}
input:focus, select:focus, button:focus {
    outline: none;
}
input::placeholder, select, input {
    padding-left: 20px;
    line-height: 38px;
    color: rgba(40, 31, 31, 0.6);
    font-family: Raleway-Regular;
    font-size: 20px;
    letter-spacing: -1px;
}
input::placeholder {
    padding-left: 0;
}
select option {
    font-size: 16px;
    outline: none;
    border: none;
}
#call_master button {
    font-family: Raleway-SemiBold;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 36px;
    box-shadow: 2px 0px 4px 4px #ffffff;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}
#call_master button:hover {
    height: 50px;
    width: 280px;
    font-size: 24px;
    line-height: 40px;
    transition:             width 1s;
        -moz-transition:    width 1s;
        -ms-transition:     width 1s;
        -o-transition:      width 1s;
        -webkit-transition: width 1s;
    border-radius: 20px;
}
button::-moz-focus-inner, .call_me_mob::-moz-focus-inner {
    border: 0;
}
select:-moz-focusring, .call_me_mob:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 rgba(40, 31, 31, 0.6);
}
.call_me_mob:hover {
    color: #442121;
}
select {
    background: transparent;
    -moz-appearance: none;
}
select, select:checked, select:hover {
   background-color: white;;
}
.portfolio_img {
    height: 500px;
}
.photo {
    margin: -4px;
    padding: 0;
    display: inline-block;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.first_photo {
    width: 650px;
    height: 300px;
    background-image: url(../img/Rectangle_40.jpg);
    margin-left: 0;
}
.second_photo {
    width: 450px;
    height: 300px;
    background-image: url(../img/Rectangle_41.jpg);
}
.third_photo, .fourth_photo {
    width: 550px;
    height: 200px;    
}
.third_photo {
    background-image: url(../img/Rectangle_42.jpg);
    margin-left: 0;
}
.fourth_photo {
    background-image: url(../img/Rectangle_43.jpg);
}
.our_txt, .our_images {
    display: inline-block;
}
.our_txt {
    width: 38%;
    height: 450px;
}
.our_images {
    width: 60%;
    height: inherit;
}
.description {
    height: 300px;
}
.feedback {
    height: 250px;
}
.description h4 {
    color: #442121;
    font-family: Raleway-Medium;
    font-size: 36px;
    letter-spacing: -1.8px;
    line-height: 40px;
    text-align: center;
}
.description p {
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 36px;
    text-align: justify;
}
.feedback h4 {
    color: #442121;
    font-family: Raleway-Medium;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -1.8px;
    line-height: 40px;
    text-align: center;

}
.feedback p, h5 {
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 36px;
    margin: 0;
}
h5 {
    font-size: 24px;
    text-align: right;
}
.slick-prev {
    left: 50px;
}
.slick-next {
    right: 50px;
}
.slick-prev:before, .slick-next:before {
    font-size: 50px;
    color: rgba(207, 178, 178, 0.35);
}
.slick-prev:before {
    color: #ffffff;
}
.slick-arrow {
    z-index: 999999999999999999999;
}
#our_location {
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    margin-top: 80px;
    background-image: url(../img/wrapper\ kontacts.jpg);
}
.map_frame {
    width: 100%;
    height: 500px;
    display: inline-block;
}
.our_contacts {
    width: 35%;
    height: auto;
    background-color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.our_contacts h5 {
    color: rgba(48, 41, 43, 0.95);
    font-family: Raleway-Medium;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1.3px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 30px;
}
.our_contacts p {
    color: #281f1f;
    letter-spacing: -0.8px;
    line-height: 24px;
    font-family: Raleway-Italic;
    font-size: 16px;
    font-weight: 400;
    padding-left: 40px;
    font-variant-numeric: lining-nums;
}
.our_contacts a {
    color: #281f1f;
}
.our_contacts p.address {
    font-style: italic;
}
#success_sent_message {
    display: none;
    width: 100%;
    text-align: center;
    height: 180px;
    vertical-align: middle;
}
#success_sent_message h3 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
#footer {
    width: 100%;
    height: 70px;
    background-color: rgba(207, 178, 178, 0.45);
    margin-top: 50px;
}
#footer ul {
    margin-top: 0;
}
.logo_footer {
    background-image: url(../img/Haus_Master.png);
    width: 150px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: table-cell;
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
#footer ul li {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #30292b;
    font-family: Raleway-MediumItalic;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-transform: normal;
    line-height: 70px;
}
#footer ul li a {
    color: #30292b;
    text-decoration: none;
}
.by_Islu_Sh {
    color: #30292b;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.9px;
    line-height: 32px;
    display: block;
}
.by_Islu_Sh p {
    margin: 0;
    line-height: 35px;
    font-family: Raleway-Regular;
    text-transform: normal;
}
.by_Islu_Sh span {
    font-family: Raleway-SemiBoldItalic;
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    text-transform: capitalize;
}
#actualDate, .phone_input {
    font-family: serif;
}
.big_one {
    display: block;
}
.small_one {
    display: none;
}
.our_contacts {
    border: 2px solid rgba(207, 178, 178, 0.7);
    box-sizing: border-box;
}
#call_master input.error, #call_master select.error {
    border: 1px solid red;
}
#fix_mistakes {
    visibility: hidden;
    font-size: 14px;
    color: red;
    margin-bottom: 0;
    line-height: 16px;
    text-align: center;
}
.slick-initialized .slick-slide {
    outline: none;
}
form {
    margin-top: 0px;
}

@media only screen and (min-width: 1201px) and (max-width: 1700px) {
    .logo {
        width: 100px;
    }
    #header ul li {
        font-size: 18px;
        line-height: 20px;
        vertical-align: -webkit-baseline-middle;
    }
    #banner h1 {
        font-size: 40px;
    }
    .feature h3 {
        font-size: 22px;
        line-height: 26px;
        height: auto;
    }
    .feature p {
        padding: 0 15px;
    }
    .feature a {
        width: 200px;
        height: 50px;
    }
    .order_call {
        width: 300px;
        bottom: 30px;
        height: 50px;
        line-height: 50px;
        right: 100px;
    }
    .order_call:hover {
        width: 260px;
        height: 40px;
        bottom: 25px;
        line-height: 40px;
    }
    .objects_explain p {
        padding: 20px;
        width: auto;
        font-size: 18px;
        line-height: 1;
        max-height: 300px;
        height: auto;
        margin-top: 30px;
    }
    .objects_photo {
        width: 100%;
        margin: 0;
        height: auto;
        min-height: 400px;
        max-height: 500px;
    }
    #more_wrapper {
        height: auto;
        min-height: 400px;
        max-height: 500px;
    }
    .objects_explain {
        height: auto;
        min-height: 480px;
        max-height: 480px;
    }
    .objects_explain button {
        bottom: 0;
        width: 300px;
        height: 60px;
        font-size: 20px;
        margin-left: -150px;
    }
    .objects_explain span {
        width: 300px;
        font-size: 18px;
        margin-right: 20px;
    }
    .price_block {
        width: 100%;
    }
    .first_adv {
        float: none;
        margin-left: 0;
    }
    .middle2_adv {
        margin-left: 0;
    }
    .middle1_adv {
        margin-right: 0;
    }
    .last_adv {
        margin-right: 0;
        float: none;
    }
    .call_master_wrapper div {
        height: 100px;
    }
    input::placeholder, select, input {
        font-size: 16px;
    }
    #call_master h2 {
        padding-top: 20px;
    }
    .photo {
        width: 50%;
    }
    .first_photo {
        width: 60%;
    }
    .second_photo {
        width: 40%;
    }
    .description p {
        font-size: 16px;
        line-height: 20px;
    }
    .feedback p, h5 {
        font-size: 16px;
        line-height: 20px;
    }
    .feedback h5 {
        font-size: 20px;
        line-height: 30px;
    }
    .description h4, .feedback h4  {
        font-size: 30px;
        line-height: 40px;
    }
    #footer ul li {
        font-size: 15px;
    }
    .by_Islu_Sh {
        font-size: 12px;
        width: auto;
    }
    .by_Islu_Sh span {
        font-size: 18px;
    }
    .price_block h4 {
        font-size: 24px;
        line-height: 30px;
    }
    .price_block span {
        font-size: 34px;
        line-height: 40px;
    }
    .advantages {
        width: 250px;
        height: 250px;
    }
    .shirt_txt {
        width: 250px;
    }
    .long_txt {
        width: 250px;
    }
}

@media only screen and (min-width: 943px) and (max-width: 1200px) {
    #call_master input, #call_master select, #call_master button {
        width: 220px;
    }
    .logo {
        width: 100px;
    }
    #header ul li {
        width: 16%;
        font-size: 18px;
        line-height: 20px;
        vertical-align: -webkit-baseline-middle;
    }
    .phone_number i {
        display: none;
    }
    #banner h1 {
        font-size: 40px;
    }
    .feature h3 {
        font-size: 22px;
        line-height: 26px;
        height: auto;
    }
    .feature p {
        padding: 0 15px;
    }
    .feature a {
        width: 120px;
        height: 50px;
    }
    .order_call {
        width: 250px;
        right: 50%;
        transform: translateX(50%);
        bottom: 20px;
        height: 30px;
        line-height: 30px;
    }
    .order_call:hover {
        width: 260px;
        height: 40px;
        bottom: 25px;
        line-height: 40px;
    }
    .objects_explain p {
        padding: 20px;
        width: auto;
        font-size: 18px;
        line-height: 1;
        max-height: 300px;
        height: auto;
        margin-top: 30px;
    }
    .objects_photo {
        width: 100%;
        margin: 0;
        height: auto;
        min-height: 400px;
        max-height: 500px;
    }
    #more_wrapper {
        height: auto;
        min-height: 400px;
        max-height: 500px;
    }
    .objects_explain {
        height: auto;
        min-height: 400px;
        max-height: 500px;
    }
    .objects_explain button {
        bottom: 0;
        width: 260px;
        height: 40px;
        font-size: 20px;
        margin-left: -130px;
    }
    .objects_explain span {
        width: 300px;
        font-size: 18px;
        margin-right: 20px;
    }
    .price_block {
        width: 100%;
    }
    .first_adv {
        float: none;
        margin-left: 0;
    }
    .middle2_adv {
        margin-left: 0;
    }
    .middle1_adv {
        margin-right: 0;
    }
    .last_adv {
        margin-right: 0;
        float: none;
    }
    .call_master_wrapper div {
        height: 100px;
    }
    input::placeholder, select, input {
        font-size: 16px;
    }
    #call_master h2 {
        padding-top: 20px;
    }
    .photo {
        width: 50%;
    }
    .first_photo {
        width: 60%;
    }
    .second_photo {
        width: 40%;
    }
    .description p {
        font-size: 16px;
        line-height: 20px;
    }
    .feedback p, h5 {
        font-size: 16px;
        line-height: 20px;
    }
    .feedback h5 {
        font-size: 20px;
        line-height: 30px;
    }
    .description h4, .feedback h4  {
        font-size: 30px;
        line-height: 40px;
    }
    #footer ul li {
        font-size: 14px;
    }
    .by_Islu_Sh {
        font-size: 12px;
        width: auto;
    }
    .by_Islu_Sh span {
        font-size: 18px;
    }
    .price_block h4 {
        font-size: 24px;
        line-height: 30px;
    }
    .price_block span {
        font-size: 34px;
        line-height: 40px;
    }
    .advantages {
        width: 200px;
        height: 200px;
    }
    .shirt_txt {
        width: 200px;
    }
    .long_txt {
        width: 200px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 942px) {
    #header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
        visibility: hidden;
    }
    #header ul li {
        display: block;
        width: 100%;
        text-align: center;
        color: #30292b;
        font-family: Raleway-MediumItalic;
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        line-height: 60px;
    }
    #header {
        display: block;
        position: fixed;
        z-index: 10;
        background-color: rgb(207, 178, 178);
    }
    .main {
        padding-top: 100px;
    }
    #banner h1 {
        width: 100%;
        font-size: 30px;
        line-height: 30px;
    }
    .price_block {
        width: 100%;
    }
    .objects_explain button {
        width: 230px;
        margin-left: -100px;
        font-size: 14px;
        height: 50px;
        bottom: 0;
    }
    #footer {
        display: none;
    }
    .order_call {
        width: 250px;
        right: 50%;
        transform: translateX(50%);
        bottom: 20px;
        height: 30px;
        line-height: 30px;
    }
    .order_call:hover {
        width: 260px;
        height: 40px;
        bottom: 25px;
        line-height: 40px;
    }
    .objects_explain p {
        padding: 20px;
        width: auto;
        font-size: 16px;
        line-height: 1;
        max-height: 300px;
        height: auto;
        margin-top: 30px;
    }
    .objects_photo {
        width: 100%;
        margin: 0;
        height: auto;
        min-height: 400px;
        max-height: 500px;
    }
    #more_wrapper {
        height: auto;
        margin-top: 0;
    }
    .objects_explain span {
        margin-right: 0;
        width: 100%;
        font-size: 20px;
        background-position: 95% 62%;
        text-decoration: underline;
    }
    .objects_explain {
        height: auto;
        min-height: 400px;
        max-height: 500px;
    }
    .first_adv {
        margin-left: 0;
        float: none;
    }
    .middle1_adv {
        margin-right: 0;
    }
    .last_adv {
        margin-right: 0;
        float: none;
    }
    .shirt_txt {
        width: auto;
    }
    .middle2_adv {
        margin-left: 0;
    }
    .advantages img {
        right: 0;
    }
    h2 {
      font-size: 30px;
      letter-spacing: -0.07em; 
      line-height: 40px;
    }
    .call_master_wrapper div {
        height: 50px;
    }
    #call_master {
        height: 400px;
    }
    #call_master h2 {
        padding-top: 30px;
    }
    .photo {
        height: 200px;
        width: 50%;
    }
    .our_txt {
        width: 100%;
        height: 300px;
        font-size: 14px;
        line-height: 15px;
        margin-top: 60px;
    }
    .our_images {
        width: 100%;
    }
    .portfolio_img {
        height: auto;
    }
    .description, .feedback {
        height: auto;
    }
    .our_contacts {
        width: 70%;
        height: auto;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        display: inline-block;
        border: none;
    }
    .our_contacts p  {
        padding-left: 20px;
    }
    #header button {
        background: none;
        border: none;
        font-size: 50px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100px;
        display: none;
    }
    .logo {
        width: 100px;
    }
    #header ul.active {
        visibility: visible;
        opacity: 1;
        right: 0;
        width: 100%;
        height: 100vh;
        margin-top: 30px;
    }
    .hidden {
        overflow: hidden;
        visibility: hidden;
    }
    .close_button {
        display: none;
        color: #442121;
    }
    .banner_img {
        height: 300px;
    }
    .feature {
        display: none;
    }
    .objects_explain h3 {
        line-height: 40px;
        font-size: 26px;
    }
    #header button.burger {
        display: block;
    }
    .call_me_mob {
        display: block;
        font-size: 40px;
        position: absolute;
        top: 50%;
        right: 20%;
        transform: translate(0, -50%);
        width: auto;
        height: auto;
    }
    .description p {
        padding: 0 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .feedback p {
        padding: 0 20px;
        text-align: justify;
        font-size: 16px;
        line-height: 20px;
    }
    .feedback h5 {
        padding: 0 20px;
        font-size: 17px;
        line-height: 20px;
    }
    .slick-prev, .slick-next {
        top: 55%;
        width: 50px;
    }
    .slick-next {
        right: 25px;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 50px;
        color: rgba(207, 178, 178, 0.35);
        position: absolute;
        left: 0;
        top: 0;
        display: block;
    }
    .slick-prev {
        left: 25px;
    }
    .big_one {
        display: none;
    }
    .small_one {
        display: inline;
        height: auto;
        min-height: 450px;
    }
    .map_frame {
        height: auto;
    }
    .our_contacts h5 {
        padding-top: 5px;
    }
    .map_frame .small_one img {
        width: 100%;
    }
    .name_input, .choosen_object {
        margin-top: 50px;
    }
    .send_mail_button {
        margin-top: 100px;
    }
    .small_one a img {
        width: 50%;
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: auto;
        min-height: 450px;
    }
    #our_location {
        margin-top: 50px;
        height: auto;
        min-height: 450px;
    }
    input::placeholder, select, input {
        font-size: 16px;
    }
    .send_mail_form {
        margin-top: 40px;
    }
}
@media only screen and (max-width: 500px) {
    #header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
        visibility: hidden;
    }
    #header ul li {
        display: block;
        width: 100%;
        text-align: center;
        color: #30292b;
        font-family: Raleway-MediumItalic;
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        line-height: 60px;
    }
    #header {
        display: block;
        position: fixed;
        z-index: 10;
        background-color: rgb(207, 178, 178);
    }
    .main {
        padding-top: 100px;
    }
    #banner h1 {
        width: 100%;
        font-size: 30px;
        line-height: 30px;
    }
    .price_block {
        width: 100%;
    }
    .objects_explain button {
        width: 300px;
        margin-left: -150px;
        font-size: 16px;
        bottom: 0;
    }
    #footer {
        display: none;
    }
    .order_call {
        width: 250px;
        right: 50%;
        transform: translateX(50%);
        bottom: 30px;
        height: 30px;
        line-height: 30px;
    }
    .order_call:hover {
        width: 260px;
        height: 40px;
        bottom: 25px;
        line-height: 40px;
    }
    .objects_explain p {
        padding: 20px;
        width: auto;
        font-size: 16px;
        line-height: 1;
        max-height: 300px;
        height: auto;
        margin-top: 30px;
    }
    .objects_photo {
        width: 100%;
        margin: 0;
        height: 300px;
    }
    #more_wrapper {
        height: auto;
        margin-top: 0;
    }
    .objects_explain span {
        margin-right: 0;
        width: 100%;
        font-size: 20px;
        background-position: 95% 62%;
        text-decoration: underline;
    }
    .first_adv {
        margin-left: 0;
        float: none;
    }
    .middle1_adv {
        margin-right: 0;
    }
    .last_adv {
        margin-right: 0;
        float: none;
    }
    .shirt_txt {
        width: auto;
    }
    .middle2_adv {
        margin-left: 0;
    }
    .advantages img {
        right: 0;
    }
    h2 {
      font-size: 30px;
      letter-spacing: -0.07em; 
      line-height: 40px;
      padding: 0 20px;
    }
    .call_master_wrapper div {
        height: 50px;
    }
    #call_master {
        height: 400px;
    }
    #call_master h2 {
        padding-top: 20px;
        margin-bottom: 10px;
    }
    .photo {
        height: 200px;
        width: 50%;
    }
    .our_txt {
        width: 100%;
        height: 300px;
        font-size: 14px;
        line-height: 15px;
        margin-top: 60px;
    }
    .our_images {
        width: 100%;
    }
    .portfolio_img {
        height: auto;
    }
    .description, .feedback {
        height: auto;
    }
    .our_contacts {
        width: 100%;
        height: auto;
        bottom: 0;
        right: 0;
        position: relative;
        border: none;
    }
    .our_contacts p  {
        padding-left: 20px;
    }
    #header button {
        background: none;
        border: none;
        font-size: 50px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100px;
        display: none;
    }
    .logo {
        width: 100px;
    }
    .call_me_mob {
        display: block;
        font-size: 40px;
        position: absolute;
        top: 50%;
        right: 30%;
        transform: translate(0, -50%);
        width: auto;
        height: auto;
    }
    #header ul.active {
        visibility: visible;
        opacity: 1;
        right: 0;
        width: 100%;
        height: 100vh;
        margin-top: 20px;
    }
    .hidden {
        overflow: hidden;
        visibility: hidden;
    }
    .close_button {
        display: none;
        color: #442121;
    }
    .banner_img {
        height: 300px;
    }
    .feature {
        display: none;
    }
    .objects_explain {
        height: 500px;
        max-height: 550px;
    }
    .objects_explain h3 {
        line-height: 40px;
        font-size: 26px;
    }
    #header button.burger {
        display: block;
    }
    .description p {
        padding: 0 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .feedback p {
        padding: 0 20px;
        text-align: justify;
        font-size: 16px;
        line-height: 20px;
    }
    .feedback h5 {
        padding: 0 20px;
        font-size: 17px;
        line-height: 20px;
    }
    .slick-prev, .slick-next {
        top: 415px;
        width: 50px;
    }
    .slick-next {
        right: 25px;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 50px;
        color: rgba(207, 178, 178, 0.35);
        position: absolute;
        left: 0;
        top: 0;
        display: block;
    }
    .slick-prev {
        left: 25px;
    }
    .big_one {
        display: none;
    }
    .small_one {
        display: block;
    }
    .map_frame {
        height: auto;
    }
    .our_contacts h5 {
        margin-top: 0;
    }
    input::placeholder, select, input {
        font-size: 16px;
    }
    #our_location {
        height: 300px;
        min-height: 200px;
    }
    .our_contacts {
        height: inherit;
    }
}
@media only screen and (max-width: 320px) {
    .slick-prev, .slick-next {
        top: 46%;
    }
    h2 {
        padding: 0;
    }
    .objects_explain {
        height: auto;
        min-height: 530px;
        max-height: 600px;
    }
}