@font-face {
    font-family: Raleway-Black;
    src: url(../../libs/fonts/Raleway-Black.ttf);
}
@font-face {
    font-family: Raleway-BlackItalic;
    src: url(../../libs/fonts/Raleway-BlackItalic.ttf);
}
@font-face {
    font-family: Raleway-Bold;
    src: url(../../libs/fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: Raleway-BoldItalic;
    src: url(../../libs/fonts/Raleway-BoldItalic.ttf);
}
@font-face {
    font-family: Raleway-ExtraBold;
    src: url(../../libs/fonts/Raleway-ExtraBold.ttf);
}
@font-face {
    font-family: Raleway-ExtraBoldItalic;
    src: url(../../libs/fonts/Raleway-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Raleway-ExtraLight;
    src: url(../../libs/fonts/Raleway-ExtraLight.ttf);
}
@font-face {
    font-family: Raleway-ExtraLightItalic;
    src: url(../../libs/fonts/Raleway-ExtraLightItalic.ttf);
}
@font-face {
    font-family: Raleway-Italic;
    src: url(../../libs/fonts/Raleway-Italic.ttf);
}
@font-face {
    font-family: Raleway-Light;
    src: url(../../libs/fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: Raleway-LightItalic;
    src: url(../../libs/fonts/Raleway-LightItalic.ttf);
}
@font-face {
    font-family: Raleway-Medium;
    src: url(../../libs/fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: Raleway-MediumItalic;
    src: url(../../libs/fonts/Raleway-MediumItalic.ttf);
}
@font-face {
    font-family: Raleway-Regular;
    src: url(../../libs/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Raleway-SemiBold;
    src: url(../../libs/fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: Raleway-SemiBoldItalic;
    src: url(../../libs/fonts/Raleway-SemiBoldItalic.ttf);
}
@font-face {
    font-family: Raleway-Thin;
    src: url(../../libs/fonts/Raleway-Thin.ttf);
}
@font-face {
    font-family: Raleway-ThinItalic;
    src: url(../../libs/fonts/Raleway-ThinItalic.ttf);
}
/* @font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gelroy/Gilroy-Bold.eot");
    src: url("../fonts/gelroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gelroy/Gilroy-Bold.woff") format("woff"), url("../fonts/gelroy/Gilroy-Bold.ttf") format("truetype"), url("../fonts/gelroy/Gilroy-Bold.svg");
    font-style: normal;
    font-weight: normal;
  } */
  
body {
    margin: 0;
}
#header {
    width: 100%;
    height: 100px;
    background-color: rgba(207, 178, 178, 0.45);
    display: table;
}
#header button {
    display: none;
}
.burger {
    display: none;
}
.logo {
    background-image: url(../img/Haus_Master.png);
    width: 200px;
    height: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: table-cell;
}
#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
#header ul li {
    display: inline-block;
    width: 14%;
    text-align: center;
    color: #30292b;
    font-family: Raleway-MediumItalic;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 60px;
}
.phone_number {
    font-family: sans-serif;
}
#header ul li a {
    color: #30292b;
    text-decoration: none;
}
#banner h1 {
    font-family: Raleway-Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 70px;
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin: 0;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    font-feature-settings: 'pnum' on, 'onum' on;
    color: rgba(40, 31, 31, 0.85);
    width: 100%;
}
.banner_img {
    width: 100%;
    height: 450px;
    background-color: rgba(214, 191, 191, 0.4);
    position: relative;
}
.first_img {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.order_call {
    width: 300px;
    height: 60px;
    border-radius: 50px;
    background-color: #ffffff;
    position: absolute;
    bottom: 50px;
    right: 200px;
    border: 1px solid #ffffff;
    color: #442121;
    font-family: Raleway-Bold;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    box-shadow: 2px 4px 4px 6px #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}
.order_call:focus {
    outline: none;
}
.order_call:hover {
    width: 320px;
    right: 190px;
    height: 70px;
    bottom: 45px;
    line-height: 70px;
}
.slick-dots li button:before {
    color: #cfb2b2;
    font-size: 13px;
    opacity: 1;
}
.slick-dots li.slick-active button:before {
    font-size: 17px;
    color: #b09595;
    opacity: 1;
}
h2 {
    font-family: Raleway-SemiBold;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: rgba(40, 31, 31, 0.85);
    margin: 60px 0 30px 0;
}
.appartment {
    background-color: rgba(207, 178, 178, 0.2);
}
.office {
    background-color: rgba(214, 191, 191, 0.3);
}
.bathroom {
    background-color: rgba(214, 191, 191, 0.35);
}
.doors {
    background-color: rgba(214, 191, 191, 0.4);
}
.pipes {
    background-color: rgba(214, 191, 191, 0.43);
}
.machines {
    background-color: rgba(214, 191, 191, 0.48);
}
.feature {
    height: 350px;
    position: relative;
}
.feature h3 {
    height: 85px;
    color: rgba(48, 41, 43, 0.95);
    font-family: Raleway-Medium;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: -1.75px;
    line-height: 35px;
    padding-top: 35px;
}
.feature p {
    max-height: 110px;
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.8px;
    line-height: 22px;
    text-transform: normal;
    color: #281f1f;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 30px;
}
.feature a.active {
    border-radius: 30px;
    border: 1px solid rgba(146, 124, 124, 0.76);
    background-color: rgba(207, 178, 178, 0.7);
    line-height: 48px;
}
.feature a:hover {
    border-radius: 30px;
    border: 1px solid rgba(146, 124, 124, 0.76);
    background-color: rgba(207, 178, 178, 0.7);
    line-height: 48px;
}
.feature a {
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
    line-height: 48px;
    width: 160px;
    height: 50px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -80px;
    text-decoration: underline;
}
#more_wrapper {
    height: 500px;
    width: 100%;
    display: block;
    margin-top: 50px;
}
.objects_photo {
    width: 500px;
    height: 500px;
    margin-left: 20px;
}
.objects_explain {
    height: 500px;
    position: relative;
}
.objects_explain h3 {
    letter-spacing: -2px;
    line-height: 60px;
    color: #442121;
    font-family: Raleway-Medium;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}
.objects_explain p {
    height: auto;
    max-height: 300px;
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1.1px;
    line-height: 36px;
    text-transform: normal;
    padding: 50px 50px 0 0;
    text-align: justify;
    margin-top: 0;
}
.objects_explain button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    height: 60px;
    border-radius: 30px;
    background-color: #e4cdcd;
    color: rgba(68, 33, 33, 0.95);
    font-family: Raleway-Medium;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1.3px;
    line-height: 30px;
    border: 1px solid #e4cdcd;
    cursor: pointer;
}
.objects_explain button:focus {
    outline: none;
}
.objects_explain span {
    color: #000000;
    font-family: Raleway-Medium;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1.2px;
    line-height: 40px;
    text-transform: normal;
    display: inline-block;
    float: right;
    margin-right: 100px;
    background-image: url(../img/long-arrow-alt-right-solid.svg);
    background-repeat: no-repeat;
    background-position: 100% 62%;
    background-size: 20px;
    width: 330px;
    padding-left: 20px;
    cursor: pointer;
}
.explain_block {
    display: none;
}
.active {
    display: block;
}
.active_btn {
    border-radius: 30px;
    border: 1px solid rgba(146, 124, 124, 0.76);
    background-color: rgba(207, 178, 178, 0.7);
    line-height: 48px;
}
.price_block {
    height: 360px;
    width: 580px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.apparts_price {
    background-image: url(../img/2-layers\ \(3\).jpg);
}
.price_block h4 {
    color: rgba(40, 31, 31, 0.85);
    font-family: Raleway-Bold;
    font-size: 30px;
    line-height: 50px;
}
.price_block span {
    font-size: 45px;
    line-height: 50px;
}
.offices_price {
    background-image: url(../img/2-layers\ \(4\).jpg);
}
.baths_price {
    background-image: url(../img/2-layers\ \(5\).jpg);
}
.doors_price {
    background-image: url(../img/2-layers\ \(6\).jpg);
}
.pipes_price {
    background-image: url(../img/rabs.jpg);
}
.machines_price {
    background-image: url(../img/2-layers\ \(8\).jpg);
}
.advantages {
    width: 300px;
    height: 300px;
    border: 3px solid rgba(207, 178, 178, 0.35);
    text-align: center;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.first_adv {
    margin-left: 30px;
    float: left;
}
.last_adv {
    float: right;
    margin-right: 30px;
}
.middle1_adv {
    margin-right: 15px;
}
.middle2_adv {
    margin-left: 15px;
}
.shirt_txt {
    width: 300px;
    color: #000000;
    font-family: Raleway-Regular;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -2.25px;
    line-height: 50px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
.advantages img {
    position: absolute;
    bottom: 0%;
    right: -7%;
}
.long_txt {
    display: none;
    width: 280px;
    max-height: 140px;
    height: auto;
    color: #000000;
    font-family: Raleway-Regular;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -1.4px;
    line-height: 30px;
    text-transform: normal;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    margin: auto;

}

.fade-in {
    background: rgba(207, 178, 178, 0.35);
    transition:             background 1s;
        -moz-transition:    background 1s;
        -ms-transition:     background 1s;
        -o-transition:      background 1s;
        -webkit-transition: background 1s;
}
.fade-out {
    background: #ffffff;
    transition:             background 1s;
        -moz-transition:    background 1s;
        -ms-transition:     background 1s;
        -o-transition:      background 1s;
        -webkit-transition: background 1s;
}
#call_master {
    width: 100%;
    height: 300px;
    background-color: rgba(207, 178, 178, 0.35);
} 
#call_master input, #call_master select, #call_master button {
    width: 250px;
    height: 40px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}
.call_master_wrapper div {
    height: 200px;
}
.suitable_time {
    margin-top: 40px;
}
#datetime_wrapper {
    height: 100px;
}
input:focus, select:focus, button:focus {
    outline: none;
}
input::placeholder, select, input {
    padding-left: 20px;
    line-height: 38px;
    color: rgba(40, 31, 31, 0.6);
    font-family: Raleway-Regular;
    font-size: 20px;
    letter-spacing: -1px;
}
input::placeholder {
    padding-left: 0;
}
select option {
    font-size: 16px;
}
#call_master button {
    font-family: Raleway-SemiBold;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 36px;
    box-shadow: 2px 0px 4px 4px #ffffff;
    box-sizing: border-box;
    cursor: pointer;
}
#call_master button:hover {
    height: 50px;
    width: 280px;
    font-size: 24px;
    line-height: 40px;
    transition:             width 1s;
        -moz-transition:    width 1s;
        -ms-transition:     width 1s;
        -o-transition:      width 1s;
        -webkit-transition: width 1s;
    border-radius: 20px;
}
.portfolio_img {
    height: 500px;
}
.photo {
    margin: -4px;
    padding: 0;
    display: inline-block;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.first_photo {
    width: 650px;
    height: 300px;
    background-image: url(../img/Rectangle_40.jpg);
    margin-left: 0;
}
.second_photo {
    width: 450px;
    height: 300px;
    background-image: url(../img/Rectangle_41.jpg);
}
.third_photo, .fourth_photo {
    width: 550px;
    height: 200px;    
}
.third_photo {
    background-image: url(../img/Rectangle_42.jpg);
    margin-left: 0;
}
.fourth_photo {
    background-image: url(../img/Rectangle_43.jpg);
}
.our_txt, .our_images {
    display: inline-block;
}
.our_txt {
    width: 38%;
    height: 450px;
}
.our_images {
    width: 60%;
    height: inherit;
}
.description {
    height: 300px;
}
.feedback {
    height: 250px;
}
.description h4 {
    color: #442121;
    font-family: Raleway-Medium;
    font-size: 36px;
    letter-spacing: -1.8px;
    line-height: 40px;
    /* text-transform: lowercase; */
    text-align: center;
}
.description p {
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 36px;
    /* text-transform: lowercase; */
    text-align: justify;
}
.feedback h4 {
    color: #442121;
    font-family: Raleway-Medium;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -1.8px;
    line-height: 40px;
    /* text-transform: lowercase; */
    text-align: center;

}
.feedback p, h5 {
    color: #281f1f;
    font-family: Raleway-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -1px;
    line-height: 36px;
    /* text-transform: lowercase; */
    margin: 0;
}
h5 {
    font-size: 24px;
    text-align: right;
}
.slick-prev {
    left: 50px;
}
.slick-next {
    right: 50px;
}
.slick-prev:before, .slick-next:before {
    font-size: 50px;
    color: rgba(207, 178, 178, 0.35);
}
.slick-prev:before {
    color: #ffffff;
}
.slick-arrow {
    z-index: 999999999999999999999;
}
#our_location {
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    margin-top: 80px;
}
.map_frame {
    width: 100%;
    height: 500px;
    display: inline-block;
}
.our_contacts {
    width: 55%;
    height: 400px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 50px;
}
.our_contacts h5 {
    color: rgba(48, 41, 43, 0.95);
    font-family: Raleway-Medium;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -1.3px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 30px;
}
.our_contacts p {
    color: #281f1f;
    letter-spacing: -0.8px;
    line-height: 24px;
    font-family: Raleway-Italic;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    padding-left: 40px;
}
.success_sent_message {
    display: none;
}
#footer {
    width: 100%;
    height: 70px;
    background-color: rgba(207, 178, 178, 0.45);
}
#footer ul {
    margin-top: 0;
}
.logo_footer {
    background-image: url(../img/Haus_Master.png);
    width: 150px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: table-cell;
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
#footer ul li {
    display: table-cell;
    vertical-align: middle;
    width: 215px;
    text-align: center;
    color: #30292b;
    font-family: Raleway-MediumItalic;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-transform: normal;
}
#footer ul li a {
    color: #30292b;
    text-decoration: none;
}
.by_Islu_Sh {
    color: #30292b;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.9px;
    line-height: 1;
    width: 200px;
    height: 70px;
    display: inline-block;
}
.by_Islu_Sh p {
    margin: 0;
    line-height: 35px;
    font-family: Raleway-Regular;
    text-transform: normal;
}
.by_Islu_Sh span {
    font-family: Raleway-SemiBoldItalic;
    font-size: 26px;
    font-weight: 600;
    font-style: italic;
    line-height: 30px;
    text-transform: capitalize;
}
#actualDate, .phone_input {
    font-family: serif;
}


@media only screen and (max-width: 500px) {
    #header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: block;
        visibility: hidden;
    }
    #header ul li {
        display: block;
        width: 100%;
        text-align: center;
        color: #30292b;
        font-family: Raleway-MediumItalic;
        font-size: 20px;
        font-weight: 500;
        font-style: italic;
        line-height: 60px;
    }
    #header {
        display: block;
    }
    #banner h1 {
        width: 100%;
        font-size: 30px;
        line-height: 30px;
    }
    .price_block {
        width: 100%;
    }
    .objects_explain button {
        width: 300px;
        margin-left: -150px;
        font-size: 16px;
        bottom: 0;
    }
    #footer {
        display: none;
    }
    .order_call {
        width: 250px;
        right: 50%;
        transform: translateX(50%);
        bottom: 20px;
        height: 30px;
        line-height: 30px;
    }
    .objects_explain p {
        padding: 20px;
        width: auto;
        font-size: 16px;
        line-height: 1;
        max-height: 300px;
        height: auto;
        margin-top: 30px;
    }
    .objects_photo {
        width: 100%;
        margin: 0;
        height: 300px;
    }
    #more_wrapper {
        height: auto;
        margin-top: 0;
    }
    .objects_explain span {
        margin-right: 0;
        width: 100%;
        font-size: 20px;
        background-position: 95% 62%;
        text-decoration: underline;
    }
    .first_adv {
        margin-left: 0;
        float: none;
    }
    .middle1_adv {
        margin-right: 0;
    }
    .last_adv {
        margin-right: 0;
        float: none;
    }
    .shirt_txt {
        width: auto;
    }
    .middle2_adv {
        margin-left: 0;
    }
    .advantages img {
        right: 0;
    }
    h2 {
      font-size: 30px;
      letter-spacing: -0.07em; 
      line-height: 40px;
    }
    .call_master_wrapper div {
        height: 50px;
    }
    #call_master {
        height: 400px;
    }
    .photo {
        height: 200px;
        width: 50%;
    }
    .our_txt {
        width: 100%;
        height: 300px;
        font-size: 14px;
        line-height: 15px;
        margin-top: 60px;
    }
    .our_images {
        width: 100%;
    }
    .portfolio_img {
        height: auto;
    }
    .description, .feedback {
        height: auto;
    }
    .our_contacts {
        width: 100%;
        height: 400px;
        bottom: 0;
        right: 0;
        position: relative;
    }
    .our_contacts p  {
        padding-left: 20px;
    }
    #header button {
        background: none;
        border: none;
        font-size: 50px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100px;
        display: none;
    }
    .logo {
        width: 100px;
    }
    #header ul.active {
        visibility: visible;
        opacity: 1;
        right: 0;
        width: 100%;
        height: 100vh;
    }
    .hidden {
        overflow: hidden;
        visibility: hidden;
    }
    .close_button {
        display: none;
    }
    .banner_img {
        height: 300px;
    }
    .feature {
        display: none;
    }
    .objects_explain {
        height: 550px;
    }
    .objects_explain h3 {
        line-height: 40px;
        font-size: 26px;
    }
    #header button.burger {
        display: block;
    }
    .description p {
        padding: 0 20px;
        font-size: 16px;
        line-height: 20px;
    }
    .feedback p {
        padding: 0 20px;
        text-align: justify;
        font-size: 16px;
        line-height: 20px;
    }
    .feedback h5 {
        padding: 0 20px;
        font-size: 17px;
        line-height: 20px;
    }
    .slick-prev, .slick-next {
        top: 47%;
    }
    .slick-prev:before, .slick-next:before {
        font-size: 50px;
        color: rgba(207, 178, 178, 0.35);
    }
    .slick-prev {
        left: 25px;
    }
}